<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css>
    <script src='main.js'></script>
</head>
<body>
    {{>userheader}}

    <<form method = "POST" action="/addtransaction">
    <input value ="{{book._id}}" name = "book_id">
    <input value = "{{book.book_name}}" name = "book_name">
    <input value = "{{person}}" name="user_name">
    <button>Borrow book</button>

    </form>>
   
</body>
</html>